@{
    ViewBag.Title = "Conócenos";
}


<div id="details">
    <br />
    <h1>Sobre nosotros.</h1>
    <hr />
    <p>
        Somos una tienda virtual donde encontrarás todo lo que necesitas y a precios competitivos.<br />
        <br />
        Se realizan envíos a todas las localidades en un plazo de 7 - 15 días.
    </p>
</div>

