@{
    ViewBag.Title = "Contacto";
}
<div id="details">
    <h1>Contacta con nosotros.</h1>

    <address>
        Universidad Politécnica de Madrid<br />
        Campus Sur, M-40 , Km.7<br />
        <abbr title="Phone">Tlf: </abbr>
        91 336 62 26
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">support@upm.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@upm.com</a>
    </address>

</div>
