@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Tienda Virtual</h1>
    <h3>¡ Aprovecha nuestras ofertas !</h3>
    <p class="lead">Consulta las últimas novedades de los productos y compra sin moverte de tu casa.</p>
    <p>
        @Html.ActionLink("Ver Productos", "Index", "Productos", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="row">
    <div class="col-md-5" id="#conocenos">
        <h2>¿Quiénes somos?</h2>
        <p>
            Somos una tienda virtual donde encontrarás todo lo que necesitas y a precios competitivos.<br />
            Se realizan envíos a todas las localidades en un plazo de 7 - 15 días.
        </p>
        @Html.ActionLink("Conócenos", "Contact", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5" id="#registrate">
        <h2>¿Todavía no te has registrado?</h2>
        <p>¡Hazte cliente y recibe las últimas novedades! <br />
        Y además si te haces cliente Premium podrás enterarte el primero de las mejores ofertas y recibir tu pedido en 24 horas.
        </p>

        @Html.ActionLink("Registrar", "Register", "Account", null, new { @class = "btn btn-primary" })
    </div>
</div>