@{
    ViewBag.Title = "Contraseña actualizada";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido actualizada. Por favor @Html.ActionLink("pulse aquí", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para iniciar sesión.
    </p>
</div>
